<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<body>
<div th:replace="common/header :: navbar"/>


<div class="container">
    <hr style="position: absolute; background-color: #333; z-index: -1; height: 6px; width: 100%; margin-top: 100px"/>
    <div class="row">
        <div class="col-xs-8"><h2 class="section-headline"><span>User Account</span></h2></div>
        <div class="col-xs-4"><img src="/image/logo.png" class="img-responsive"/></div>
    </div>

    <img src="/image/wood.png" class="img-responsive" style="margin-top: -75px"/>
    <div class="row" style="margin-top: 10px">
        <form th:action="@{/checkout}" method="post">
            <!--Left panel-->
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <button type="submit" class="btn btn-warning btn-block">Place order</button>
                        <p style="font-size: smaller">By placing order you agree to The Bookstore's <a
                                href="#">terms</a> and <a href="#">conditions.</a></p>
                        <hr/>
                        <h3>Order summary</h3>
                        <div class="row">
                            <div class="col-xs-7 text-left">
                                Total before tax:
                            </div>
                            <div class="col-xs-5 text-right">
                                $<span th:text="${shoppingCart.grandTotal}"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-7 text-left">
                                <h3 style="color: darkred"><strong>Order total:</strong></h3>
                            </div>
                            <div class="col-xs-5 text-right">
                                <h3 style="color: darkred"><strong>$<span
                                        th:with="total=${shoppingCart.grandTotal*1,06}"
                                        th:text="${#numbers.formatDecimal(total, 0, 2)}"></span></strong></h3>
                            </div>
                        </div>
                        <div class="panel-footer"> Shipping and handling haven't applied</div>
                    </div>
                </div>
            </div>
            <!--Checkout info-->
            <div class="col-xs-8">
                <div th:if="${missingRequiredField}">
                    <h5 class="alert alert-warning">Please fill in the necessary information.</h5>
                </div>
                <div class="panel-group" id="accordion">
                    <!--1 Shipping address-->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#shippingInfo">
                                    1.Shipping address
                                </a>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse" id="shippingInfo"
                             th:classapend="${classActiveShipping}? 'in'">
                            <div class="panel-body">
                                <table class="table" th:if="${not emptyShippingList}">
                                    <thead>
                                    <tr>
                                        <th>Availible shipping address</th>
                                        <th>Operations</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="userShipping : ${userShippingList}">
                                        <td th:text="${userShipping.userShippingStreet1}+'  '+${userShipping.userShippingStreet2}+',  '+${userShipping.userShippingZipCode}+'  '+${userShipping.userShippingCity}"></td>
                                        <td><a th:href="@{/setShippingAddress(userShippingId=${userShipping.id})}">Use
                                            this address</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="form-group">
                                    <label for="shippingName">Name</label>
                                    <input type="text" id="shippingName" class="form-control" placeholder="Name"
                                           name="shippingAddressName"
                                           th:value="${shippingAddress.shippingAddressName}"/>
                                </div>
                                <div class="form-group">
                                    <label for="shippingStreet">Street</label>
                                    <input type="text" id="shippingStreet" class="form-control" placeholder="Street"
                                           name="shippingAddressStreet1"
                                           th:value="${shippingAddress.shippingAddressStreet1}"/>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Street 2"
                                           name="shippingAddressStreet2"
                                           th:value="${shippingAddress.shippingAddressStreet2}"/>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="shippingCity">City</label>
                                            <input type="text" class="form-control" id="shippingCity"
                                                   th:name="shippingAddressCity" placeholder="City" required="required"
                                                   th:value="${shippingAddress.shippingAddressCity}"/>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="shippingZipCode">Zip code</label>
                                            <input type="text" class="form-control" id="shippingZipCode"
                                                   th:name="shippingAddressZipCode" placeholder="Zip Code"
                                                   required="required"
                                                   th:value="${shippingAddress.shippingAddressZipCode}"/>
                                        </div>
                                    </div>
                                </div>
                                <a data-toggle="collapse" data-parent="#accordion" class="btn btn-warning pull-right"
                                   href="#paymentInfo">Next</a>
                            </div>
                        </div>
                    </div>
                    <!--2 Payment information-->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#paymentInfo">
                                    2. Payment information
                                </a>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse" id="paymentInfo"
                             th:classapend="${classActivePayment}? 'in'">
                            <div class="panel-body">
                                <table class="table" th:if="${not emptyPaymentList}">
                                    <thead>
                                    <tr>
                                        <th>Availible credit cards</th>
                                        <th>Operations</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="userPayment : ${userPaymentList}">
                                        <td th:text="${userPayment.cardName}"></td>
                                        <td><a th:href="@{/setPaymentMethod(userPaymentId=${userPayment.id})}">Use
                                            this credit card</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <img th:src="@{/image/creditCard.png}" class="img-responsive"/><br/>
                                        <div class="form-group">
                                            <label for="cardType">Select card type</label>
                                            <select class="form-control" id="cardType" name="type"
                                                    th:value="${payment.type}">
                                                <option value="visa">Visa</option>
                                                <option value="mastercard">Mastercard</option>
                                                <option value="discover">Discover</option>
                                                <option value="amex">American express</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="cardHolder">Card Holder Name</label>
                                            <input type="text" class="form-control" id="cardHolder" th:name="holderName"
                                                   placeholder="Name" required="required"
                                                   th:value="${payment.holderName}"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="cardNumber">Card Number</label>
                                            <div class="input-group">
                                                <input type="tel" class="form-control" id="cardNumber"
                                                       th:name="cardNumber" placeholder="Card number"
                                                       required="required" th:value="${payment.cardNumber}"/>
                                                <span class="input-group-addon"><i class="fa fa-credit-card"
                                                                                   aria-hidden="true"></i> </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-7">
                                        <div class="form-group">
                                            <label>Expiration date</label>
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <select class="form-control" id="expiryMonth" name="expiryMonth"
                                                            th:value="${payment.expiryMonth}">
                                                        <option disabled="disabled">--Month--</option>
                                                        <option value="01">1</option>
                                                        <option value="02">2</option>
                                                        <option value="03">3</option>
                                                        <option value="04">4</option>
                                                        <option value="05">5</option>
                                                        <option value="06">6</option>
                                                        <option value="07">7</option>
                                                        <option value="08">8</option>
                                                        <option value="09">9</option>
                                                        <option value="10">10</option>
                                                        <option value="11">11</option>
                                                        <option value="12">12</option>
                                                    </select>
                                                </div>
                                                <div class="col-xs-6">
                                                    <select class="form-control" id="expiryYear" name="expiryYear"
                                                            th:value="${payment.expiryYear}">
                                                        <option disabled="disabled">--Year--</option>
                                                        <option value="2017">2017</option>
                                                        <option value="2018">2018</option>
                                                        <option value="2019">2019</option>
                                                        <option value="2020">2020</option>
                                                        <option value="2021">2021</option>
                                                        <option value="2022">2022</option>
                                                        <option value="2023">2023</option>
                                                        <option value="2024">2024</option>
                                                        <option value="2025">2025</option>
                                                        <option value="2026">2026</option>
                                                        <option value="2027">2027</option>
                                                        <option value="2028">2028</option>
                                                        <option value="2029">2029</option>
                                                    </select>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-xs-5">
                                        <div class="form-group">
                                            <label for="cvc">Cvc</label>
                                            <input type="tel" class="form-control" id="cvc" th:name="cvc"
                                                   placeholder="cvc" required="required" th:value="${payment.cvc}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input id="theSameAsShippingAddress" type="checkbox"
                                               name="billingSameAsShipping" value="true"/>
                                        The same as shipping address.
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label for="billingName">Name</label>
                                    <input type="text" class="form-control" id="billingName"
                                           th:name="billingName" placeholder="Name" required="required"
                                           th:value="${billing.billingName}"/>
                                </div>
                                <div class="form-group">
                                    <label for="userBilling">Address</label>
                                    <input type="text" class="form-control" id="userBilling"
                                           th:name="billingStreet1" placeholder="Street" required="required"
                                           th:value="${billing.billingStreet1}"/>
                                    <input type="text" class="form-control" id="userBillingAddress2"
                                           th:name="billingStreet2" placeholder=""
                                           th:value="${billing.billingStreet2}"/>

                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-xs-6">
                                            <label for="billingCity">City</label>
                                            <input type="text" class="form-control" id="billingCity"
                                                   th:name="userBillingCity" placeholder="City" required="required"
                                                   th:value="${billing.billingCity}"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-6">
                                            <label for="billingZipCode">Zip code</label>
                                            <input type="text" class="form-control" id="billingZipCode"
                                                   th:name="userBillingZipCode" placeholder="Zip Code"
                                                   required="required"
                                                   th:value="${billing.billingZipCode}"/>
                                        </div>
                                    </div>
                                </div>
                                <a data-toggle="collapse" data-parent="#accordion" class="btn btn-warning pull-right"
                                   href="#reviewItems">Next</a>
                            </div>
                        </div>
                    </div>
                    <!--3 Review items and shipping-->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#reviewItems">
                                    3.Review items
                                </a>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse" id="reviewItems"
                             th:classapend="${classActiveReviewItems}? 'in'">
                            <div class="panel-body">
                                <h4>Choose your shipping method:</h4>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="shippingMethod" value="grountShipping"
                                               checked="checked"/>
                                        Ground shipping
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="shippingMethod" value="premiumShipping"/>
                                        Premium shipping
                                    </label>
                                </div>
                                <div class="row">
                                    <div class="col-xs-8"><h4>Products</h4></div>
                                    <div class="col-xs-2"><h4>Price</h4></div>
                                    <div class="col-xs-2"><h4>Qty</h4></div>
                                </div>
                                <div class="row" th:each="cartItem : ${cartItemList}">
                                        <hr/>
                                        <div class="col-xs-2">
                                            <div style="width: 70%">
                                                <a th:href="@{/bookDetail?id=}+${cartItem.book.id}" >
                                                    <img class="img img-responsive shelf-book" th:src="#{adminPath}+@{/image/book/}+${cartItem.book.id}+'.png'"/>
                                                </a></div>
                                        </div>
                                        <div class="col-xs-6">
                                            <a th:href="@{/bookDetail?id=}+${cartItem.book.id}" >
                                                <h4 th:text="${cartItem.book.title}"></h4>
                                            </a>
                                            <p th:if="${cartItem.book.inStockNumber&gt;10}" style="color: green">In Stock</p>
                                            <p th:if="${cartItem.book.inStockNumber&gt;0 and cartItem.book.inStockNumber&lt;11}" style="color: green">Only <span th:text="${cartItem.book.inStockNumber}"></span> in Stock</p>
                                            <p th:if="${cartItem.book.inStockNumber==0}" style="color: darkred">Product unavailable</p>
                                            <p><a th:href="@{/shoppingCart/remove?id=}+${cartItem.id}" >
                                                <h5>delete</h5>
                                            </a></p>
                                        </div>
                                        <div class="col-xs-2">
                                            <h5 style="color: #db3208;font-size: large">$<span th:text="${cartItem.book.ourPrice}" th:style="${cartItem.book.inStockNumber==0}? 'text-decoration: line-through' : ''"></span></h5>
                                        </div>
                                        <div class="col-xs-2">
                                            <h5 style="font-size: large" th:text="${cartItem.qty}"></h5>
                                        </div>

                                </div>
                                <div class="row">
                                    <hr/>
                                    <h4 class="col-xs-12 text-right"><strong style="font-size: large">Order total: (<span th:text="${#lists.size(cartItemList)}"></span> items)</strong>
                                        <span style="color: #db3208; font-size: large">$<span th:text="${shoppingCart.grandTotal}"></span></span>
                                    </h4>
                                    <br/>
                                    <br/>
                                    <button class="btn bt-warning btn-block" type="submit">Submit order</button>
                                    <p style="font-size: smaller">By placing order you agree to The Bookstore's <a
                                            href="#">terms</a> and <a href="#">conditions.</a></p>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </form>
    </div>

</div>
<div th:replace="common/header :: body-bottom-scripts"/>

</body>
</html>







